.App {
  text-align: center;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: #2e2e2e;
}

button {
  font-size: 1em;
  color: white;
  background: #0074d9;
  border: none;
  padding: 10px;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}
